<app-navbar></app-navbar>
<h2>WOMENS COLLECTION </h2>
<div class="carousel">
  <div class="carousel-slide" [style.transform]="'translateX(' + slideOffset + '%)'">
    <img *ngFor="let image of images" [src]="image.src" [alt]="image.alt">
  </div>
  </div>
<h1>DEALS OF THE DAY</h1>
<div class="card-container">
<div class="card">
  <img src="assets/women/card1.png" alt="Denim Jeans" style="width:100%">
  <p>WOMENS-CLOTH</p>
  <p class="price">$19.99</p>
  <p><button>Add to Cart</button></p>
</div>
<div class="card">
  <img src="assets/women/card2.png" alt="Denim Jeans" style="width:100%">
  <h4>Tailored Jeans</h4>
  <p class="price">$19.99</p>
  <p><button>Add to Cart</button></p>
</div>
<div class="card">
  <img src="assets/women/card3.png" alt="Denim Jeans" style="width:100%">
  <h4>Tailored Jeans</h4>
  <p class="price">$19.99</p>
  <p><button>Add to Cart</button></p>
</div>
<div class="card">
  <img src="assets/women/card4.png" alt="Denim Jeans" style="width:100%">
  <h4>Tailored Jeans</h4>
  <p class="price">$19.99</p>
  <p><button>Add to Cart</button></p>
</div>
<div class="card">
  <img src="assets/women/card5.png" alt="Denim Jeans" style="width:100%">
  <h4>Women Clothes</h4>
  <p class="price">$19.99</p>
  <p><button>Add to Cart</button></p>
</div>
<div class="card">
  <img src="assets/women/card6.png" alt="Denim Jeans" style="width:100%">
  <h4>Women Clothes</h4>
  <p class="price">$19.99</p>
  <p><button>Add to Cart</button></p>
</div>
<div class="card">
  <img src="assets/women/card7.png" alt="Denim Jeans" style="width:100%">
  <h4>Women Clothes</h4>
  <p class="price">$19.99</p>
  <p><button>Add to Cart</button></p>
</div>
<div class="card">
  <img src="assets/women/card8.png" alt="Denim Jeans" style="width:100%">
  <h4>Women Clothes</h4>
  <p class="price">${{19.99}}</p>
  <p><button>Add to Cart</button></p>
</div>
<div class="card">
  <img src="assets/women/card9.png" alt="Denim Jeans" style="width:100%" >
  <h4>Women Clothes</h4>
  <p class="price">$19.99</p>
  <p><button>Add to Cart</button></p>
</div>
<div class="card">
  <img src="assets/women/card10.png" alt="Denim Jeans" style="width:100%">
  <h4>Women Clothes</h4>
  <p class="price">$19.99</p>
  <p><button>Add to Cart</button></p>
</div>

</div>
<app-footer></app-footer>
